body {
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-mode {
  background-color: #f8f9fa;
  color: #343a40;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

h1, h3 {
  margin-bottom: 30px;
}

button {
  margin-top: 20px;
}


input {
  margin-right: 10px;
}

.table {
  margin-top: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
